{{> menu active="dashboard"}}

<section>
  <div
    id="map"
    data-locations='{{{ locations }}}'
    style="height: calc(100vh - 4rem);">
  </div>
</section>

<script src="/js/dashboard.js"></script>
