<form action="/dashboard/addlocation" method="POST">
  <div class="columns">
    <div class="column is-full-mobile is-half-tablet is-half-desktop">
      <label class="label">Location Title</label>
      <input class="input" type="text" placeholder="Enter location title" name="title" required />
    </div>
    <div class="column is-full-mobile is-half-tablet is-half-desktop">
      <label class="label">Category</label>
      <div class="select is-fullwidth">
        <select name="category">
          <option value="" disabled selected>Select Category</option>
          <option value="hot-spring">Hot spring</option>
          <option value="waterfall">Waterfall</option>
          <option value="glacier">Glacier</option>
          <option value="beach">Beach</option>
        </select>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-full-mobile is-half-tablet is-half-desktop">
      <label class="label">Location Latitude</label>
      <input class="input" type="number" step="0.000001" placeholder="Enter location latitude" name="latitude" value="{{lat}}" required />
    </div>
    <div class="column is-full-mobile is-half-tablet is-half-desktop">
      <label class="label">Location Longitude</label>
      <input class="input" type="number" step="0.000001" placeholder="Enter location longitude" name="longitude" value="{{lng}}" required />
    </div>
  </div>

  <div class="field">
    <label class="label">Location Description</label>
    <textarea class="textarea" placeholder="Enter location description" name="description"></textarea>
  </div>

  <div class="field">
    <label class="label">Location Visibility</label>
    <div class="control">
      <label class="radio">
        <input type="radio" name="visibility" value="public" checked>
        Public
      </label>
      <label class="radio">
        <input type="radio" name="visibility" value="private">
        Private
      </label>
    </div>
    <p class="help">Public locations are visible to everyone. Private locations are only visible to you.</p>
  </div>

  <button class="button is-link">Add Location</button>
</form>