<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      {{> placemark-brand}}

      <a role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons is-centered">
            <a class="button is-dark" id="auth-github" href="/auth/github">
              <span class="icon"><i class="fab fa-github"></i></span>
              <span>Login with GitHub</span>
            </a>
            <a class="button {{#if (eq active 'login')}}is-primary{{/if}}" id="login" href="/login"> Log in </a>
            <a class="button {{#if (eq active 'signup')}}is-primary{{/if}}" id="signup" href="/signup"> Sign up </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const burgers = document.querySelectorAll('.navbar-burger');

  burgers.forEach(burger => {
    burger.addEventListener('click', () => {
      const targetId = burger.dataset.target;
      const target = document.getElementById(targetId);

      burger.classList.toggle('is-active');
      target.classList.toggle('is-active');
    });
  });
});
</script>

